[package]
name = "ya-relay-client"
version = "0.2.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"
license = "LGPL-3.0"
description= "Client for hybrid Net communication protocol"

[dependencies]
ya-relay-stack = "0.3"
ya-relay-proto = "0.3"
ya-relay-core = "0.2"

anyhow = "1.0"
chrono = "0.4"
derive_more = "0.99"
env_logger = { version = "0.8", default-features = false }
futures = "0.3"
log = "0.4"
tokio = { version = "0.2", features = ["tcp", "udp", "net", "sync", "macros", "rt-core", "stream", "time", "blocking"] }
url = "2.1"

[dev-dependencies]
actix-rt = "1.1"
dotenv = "0.15"
structopt = "0.3"
