[package]
name = "ya-net-server"
version = "0.1.0"
authors = ["nieznany.sprawiciel <nieznany.sprawiciel@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ya-relay-proto = { path = "../crates/proto" }
ya-client-model = "0.3"

actix-rt = "1.1"

anyhow = "1.0"
bytes = "0.5"
chrono = "0.4"
env_logger = { version = "0.8", default-features = false }
ethsign = "0.8"
futures = "0.3"
hex = "0.4"
log = "0.4"
rand = { version = "0.8", features = ["std"] }
serde_json = "1.0"
sha3 = "0.8"
structopt = "0.3"
thiserror = "1.0"
tokio = { version = "0.2", features = ["tcp", "udp", "net", "sync", "macros", "rt-core", "stream", "time"] }
tokio-util = { version = "0.3", features = ["codec"] }
url = "2.1"
uuid = { version = "0.8", features = ["v4"] }



[dev-dependencies]
serial_test = { git = "https://github.com/tworec/serial_test.git", branch = "actix_rt_test"}
