[package]
name = "ya-relay-server"
version = "0.2.1"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"


[lib]
name = "ya_relay_server"
path = "src/lib.rs"

[[bin]]
name = "ya-relay-server"
path = "src/main.rs"


[dependencies]
ya-relay-proto = "0.4.1"
ya-relay-core = "0.3.1"
ya-relay-client = "0.5"

actix-rt = "2.7"
anyhow = "1.0"
chrono = "0.4"
dotenv = "0.15"
env_logger = { version = "0.8", default-features = false }
futures = "0.3"
governor = "0.3.2"
humantime = "2.1"
itertools = "0.10.1"
log = "0.4"
metrics = "0.19"
metrics-exporter-prometheus = { version = "0.10", features = ["http-listener"] }
rand = { version = "0.8", features = ["std"] }
structopt = "0.3"
thiserror = "1.0"
tokio = { version = "1", features = ["net", "sync", "macros", "time", "rt"] }
tokio-util = { version = "0.7", features = ["codec"] }
url = "2.1"

[dev-dependencies]
serial_test = { git = "https://github.com/tworec/serial_test.git", branch = "actix_rt_test", features = ["actix-rt2"]}
tokio-stream = "0.1.8"
